[defaults]
port = 54018
remote_user = ansible
inventory = inventory
roles_path = roles
interpreter_python = /usr/bin/python3
host_key_checking = False
deprecation_warnings=False

[ssh_connection]
pipelining = True
